.grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.post {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
}

.pagelink {
  display: block;
  width: 25px;
  height: 25px;
  border: 1px var(--color-body) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.pagelinkActive {
  font-weight: bold;
  color: var(--color-body);
}
